@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* Reset dan Dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header dan Navigasi */
.main-header {
  text-align: center;
  margin-bottom: 2em;
}

.site-title {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 900;
  font-style: italic;
}

#main-nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#main-nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

#main-nav a:hover,
#main-nav a:focus {
  color: #a82121;
}

/* Konten Utama */
.content-section {
  margin-bottom: 40px;
}

.content-section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.intro-container {
  display: flex;
  flex-direction: column; /* Susunan vertikal */
  align-items: center; /* Pusatkan elemen secara horizontal */
  gap: 8px; /* Jarak antara gambar dan teks */
}

.profile-image {
  width: 140px; /* Sesuaikan ukuran */
  height: 140px; /* Sesuaikan ukuran */
  border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
  object-fit: cover;
  border: 1px solid #222;
  padding: 2px;
}

.content-section p {
  margin-bottom: 15px;
}

.content-section h3 {
  font-size: 1.4em;
  text-align: center;
  position: relative; /* Positioning for the lines */
  margin: 1em 0;
}

.content-section h3::before,
.content-section h3::after {
  content: ""; /* Empty content for the pseudo-elements */
  position: absolute; /* Position the lines */
  top: 50%; /* Center the lines vertically with respect to the h3 */
  width: 30%; /* Width of the lines */
  height: 1px; /* Thickness of the lines */
  background-color: #ccc; /* Color of the lines */
}
.content-section h3::before {
  left: 0; /* Position line to the left */
  margin-right: 10px; /* Space between the line and text */
}
.content-section h3::after {
  right: 0; /* Position line to the right */
  margin-left: 10px; /* Space between the line and text */
}

.content-section ul {
  padding: 0 2em;
}

/* Footer */
.main-footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 0.9em;
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #a82121;
}

/* Responsivitas */
@media (max-width: 600px) {
  .site-title {
    font-size: 2em;
  }

  #main-nav {
    font-size: 0.9em;
  }

  .main-footer {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    margin-top: 15px;
  }

  .social-links a {
    margin: 0 7px;
  }
}
